<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-ios-home" ng-click="goBack()"></button>

        <h1 class="title">Orders</h1>

    </ion-header-bar>
    <ion-content class="outer text-center" ng-init="init()">

        <ion-list>
            <ion-item class="item-card no-padding item-text-wrap" ng-repeat="orderItem in orderCart.items">
                <div class="row row-top">
                    <div class="col col-10 no-padding cart-image-container">
                        <img ng-src="{{ orderItem.image }}">
                    </div>
                    <div class="col col-50 text-left">
                        <div class="order-name">{{ orderItem.name }}</div>
                        <div class="order-description">{{ orderItem.description }}</div>
                    </div>
                    <div class="col text-right">
                        <div class="orderitem-quantity" ng-model="orderItem.quantity" ng-change="updateQuantity(orderItem)" ng-click="$event.stopPropagation()" kz-quantity>
                        </div>
                        <div class="orderitem-price"> {{ orderItem.price | currency:"£" }} </div>
                    </div>
                </div>
        </ion-list>

        <div class="row row-center cart-total" ng-show="(orderCart.orderType === 'deliveryOrder') || (orderCart.orderType === 'justEatOrder')">
            <div class="col">
                <div>Delivery Charges (£)</div>
                
            </div>
            <div class="col orderitem-price">
            <input type="number" placeholder="{{deliveryCharges}}" ng-model="orderCart.deliveryCharges" ng-change="calculateTotal()">
            </div>
        </div>

              <div class="row row-center cart-total">
            <div class="col">
                <div>Total</div>
                <div class="cart-terms">Including Tax</div>
            </div>
            <div class="col orderitem-price">{{ cartTotal | currency:"£" }}</div>
        </div>


        <ion-list class="list list-inset">
            <ion-item class="item item-divider">
                Order Type
            </ion-item>

            <label class="item item-input item-select">
    <div class="input-label">
      Order Type
    </div>
    <select ng-model="orderCart.orderType" ng-change="calculateTotal()">
      <option value="OnShopOrder">OnShop Order</option>
      <option value="collectionOrder">Collection Order</option>
      <option value="deliveryOrder">Delivery Order</option>
      <option value="justEatOrder">JustEat Order</option>
    </select>
  </label>

            <ion-item class="item item-divider">
                Customer Details
            </ion-item>


            <div class="item countingdays-input  ">
                <input type="text" placeholder="Name" ng-model="customer.name">
            </div>

            <div class="item countingdays-input  ">
                <input type="text" placeholder="Time of Collection" ng-model="customer.timeOfCollection">
            </div>

            <div class="item countingdays-input" ng-show="orderCart.orderType != 'OnShopOrder' ">
                <input type="text" placeholder="Phone" ng-model="customer.phone">
            </div>

            <div class="item countingdays-input" ng-show="orderCart.orderType != 'OnShopOrder' ">
                <input type="text" placeholder="Address" ng-model="customer.address">
            </div>

            <div class="item countingdays-input" ng-show="(orderCart.orderType === 'deliveryOrder') || (orderCart.orderType === 'justEatOrder')">
                <input type="text" placeholder="Driver Name" ng-model="customer.driverName">
            </div>



        </ion-list>




        <div class="orderitem-buybutton ">

            <button class="button button-assertive button-block button-bold" ng-click="Order()">Print</button>



        </div>


    </ion-content>
</ion-view>