<ion-view>
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>

        <ion-nav-title>{{ orderItem.name }}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-cart" ng-disabled="cartCount === 0" ng-click="goToCart()"></button>
            <div class="cart-count" ng-class="{ none: cartCount === 0 }">{{cartCount}}</div>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="outer text-center">




        <div class="list card">

            <div class="item item-avatar">

                <div class="orderitem-title">{{ orderItem.name }}</div>

            </div>

            <div class="item item-body">
                <img class="img-responsive" ng-src="{{ orderItem.image }}">
                <div class="orderitem-description">

                    {{ orderItem.description }}



                </div>
                <div class="orderitem-price">



                    {{ orderItem.price | currency:"£" }}

                </div>
                <div class="orderitem-buybutton">

                    <button class="button button-assertive button-block button-bold" ng-click="addToCart()">Order</button>



                </div>


            </div>
        </div>

        <ion-list class="list list-inset">
            <ion-item class="item item-divider">
                Options
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right" ng-repeat="item in orderOptions" ng-click="showOptions(item,$index)">


                <i class="icon ion-gear-a option-symbol">
                  <div class="option-name">
                   {{ item.name }}
                   </div>
                   </i>

                <i class="icon ion-chevron-right option-symbol">                 
                   </i>

            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>