<ion-view>
    <ion-header-bar align-title="center" class="bar-energized">

        <h1 class="title">Main Menu</h1>

    </ion-header-bar>
    <ion-content class="outer text-center">


        <div class="list">
            <div ng-repeat="number in items">
                <div class="row" ng-if="$index % 3 == 0">
                    <div class="col col-33">
                        <a href="javascript:void(0);" class="item item-image" ui-sref="{{ items[$index].sref }}">
                            <img ng-src="{{ items[$index].image }}" class="menu-logo">
                        </a>
                        <h2>{{ items[$index].name }}</h2>
                    </div>
                    <div class="col col-33">
                        <a href="javascript:void(0);" class="item item-image" ui-sref="{{ items[$index + 1].sref }}">
                            <img ng-src="{{ items[$index + 1].image }}" class="menu-logo">
                        </a>
                        <h2>{{ items[$index + 1].name }}</h2>
                    </div>
                    <div class="col col-33">
                        <a href="javascript:void(0);" class="item item-image" ui-sref="{{ items[$index + 2].sref }}">
                            <img ng-src="{{ items[$index + 2].image }}" class="menu-logo">
                        </a>
                        <h2>{{ items[$index + 2].name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>