<ion-view>
    <ion-content class="outer text-center mainbody">
        <div class="middle">
            <div class="inner">
                <img class="main-logo" src="img/8350.gif" />
                
                
                
            </div>
        </div>
        <div class="list card main_options">

             <div class="item  ">                
                <button class="button  button-block button-balanced button-bold " ng-click="startOrder('OnShopOrder')">OnShop Order</button>
            </div>

             <div class="item ">                
                <button class="button  button-block button-balanced button-bold " ng-click="startOrder('collectionOrder')">Collection Order</button>
            </div>

            <div class="item ">
                <button class="button  button-block button-balanced button-bold " ng-click="startOrder('deliveryOrder')">Delivery Order</button>
            </div>

            <div class="item ">
                <button class="button  button-block button-balanced button-bold " ng-click="takePhoto()">Driver Report</button>
            </div>

             <div class="item ">
                <button class="button  button-block button-balanced button-bold " ng-click="takePhoto()">Daily Report</button>
            </div>



           

        </div>
    </ion-content>

</ion-view>