/* Empty. Add your own CSS if you like */
.mainbody {
   
    background-color: #0F034E;
}


.main-logo {
    height: 250px !important;
    width: 250px !important;
  display: block;
  margin: 0 auto;
  }


  
  
  .menu-logo {
    height: 180px !important;
    width: 180px !important;
    margin: 0 auto;
}

.option-name {
    float: left;
    margin-right: 20px;
    font-size: 0.6em;
    color: #822980;
}

.option-symbol {
    
    font-size: 0.2em;
    color: #822980;
}

.orderitem-description {
    
    font-size: 1.2em;
    color: #767676;
}

.orderitem-title {
    
    font-size: 1.2em;
    color: #D7410B;
}
